<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="">{{title}}</a>
</nav>
<router-outlet></router-outlet>


<!--<app-contador></app-contador>

<button (click)="toogleConteudo()">Exibir</button>

simula o IF recebe um valor boleano caso verdadeiro exive
<h1 *ngIf="exibir">Exibir</h1>

simula o forEach do javascript
<ul>
    <li *ngFor="let livro of livros">{{ livro }}</li>
</ul>
simula um SwitchCase
<div [ngSwitch]="produto.tipo">
    <app-filme *ngSwitchCase="filme" [produto]="produto">
    </app-filme>
    <span *ngSwitchDefault>Produto desconhecido
    </span>
   </div>


<app-click-me></app-click-me>

<app-tooltip-example></app-tooltip-example>

<app-formulario></app-formulario>-->